// Css Style List
@import "css-tree.less";

// Templage Defult Veriables
@import "variable.less";

// This File Import Some Helping Function
@import "../bootstrap/less/variables.less";
@import "less-function.less";
@import "defult-style.less";




/****************************************************************
    START MAIN CSS STYLE
*****************************************************************/



.background-light {
	background-color: @background-1;
}

.background-semi-dark {
	background-color: @background-2;
}

.background-dark {
	background-color: @background-3;
}

canvas {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
}


/**
 * =======================
 * Navigation
 * =======================
 */
.main-navbar-top {
	position: absolute;
    width: 100%; 
	border: 0px solid;
	top: 0px;
	padding-top: 25px;

	.transition( 0.4s );
	background-color: transparent;
	z-index: 100;

	.okayNav-header {
		background-color: transparent;
	}

	.navbar-brand {
		display: block;
		height: 77px;
		padding: 0;
		margin-left: 0px;

		img {
			display: block; 
		    
		}

		.logo-1 {
			display: block;
			padding-top: 1em;
		}

		.logo-2 { 
			padding-top: 0.6em;
			display: none;
		}
	}

	.navbar-toggle {
	    padding: 19px 15px;

	    .icon-bar {
	    	background-color: @main-color-1;
	    }
	}

	ul {
		li {
			.btn-nav {
				.border-radius();
			    padding: 15px 15px;
			    color: fade(@light-color, 60%);
			    font-size: 16px;
			    font-weight: 400;
			    line-height: 20px;
			    margin-right: 2px;
			    position: relative;
			    letter-spacing: 1px;
			    text-transform: uppercase;
			    border: 1px solid;
			    border-color: transparent;

			    &:focus {
			    	background-color: transparent !important;
			    }

			    &:hover {
			    	background-color: transparent;
			    	color: fade(@light-color, 100%);
			    }
			}

			&.active {
				.btn-nav {
					color: fade(@light-color, 100%);
				}
			}

		    &:last-child {
		    	a {
		    		margin-right: 0px;
		    	}
		    }
		}
	}

	.navbar-nav {
		padding-top: 5px;
		
		.btn-nav {
			&.btn-border {
		    	border-color: fade(@light-color, 60%);

		    	&:hover {
		    		border-color: fade(@light-color, 100%);
		    	}
		    }
		}
	}

	.okayNav__menu-toggle {
		span {
			background-color: @light-color;
		}
	}

	.okayNav__nav--invisible {
		top: 95px;
		.transition( 0.4s );

		.btn-nav {
		    color: fade(@dark-color, 70%);
		    background-color: transparent;

		    &:hover {
		    	color: fade(@dark-color, 100%);
		    }
		}

		&.active {
			.btn-nav {
				color: fade(@dark-color, 100%);
			}
		}
	}

	&.navbar-home {
		padding-top: 0;
		background-color: @background-1;
		.box-shadow(0, 1px, 12px, 0px, fade(@shadow-color, 10%));

		.okayNav__menu-toggle {
			span {
				background-color: @dark-color;
			}
		}

		.okayNav__nav--invisible {
			top: 70px;
		}

		.navbar-brand {
    		.logo-1 {
    			display: none;
    		}

    		.logo-2 {
    			display: block;
    		}
		}

		
	}
}

#navigation {
	position: fixed;
	background: transparent;
	z-index: 999;
	  -webkit-transition: all 0.5s ease;
	  -moz-transition: all 0.5s ease;
	  -o-transition: all 0.5s ease;
	  -ms-transition: all 0.5s ease;
	  transition: all 0.5s ease;	


	ul {
		border-left: solid 4px @main-color-1;
		list-style: none;
		padding: 0;
		margin: 0;
			li {
				width: 100%;
				position: relative;
				.btn-nav {
					padding: 0.5em 1em;
				    color: fade(@dark-color, 90%);
				    background-color: #FAFAFA;

				    &:hover {
				    	color: fade(@main-color-1, 100%);
				    }
				}

				&.active {
					&:before {
						content: " ";
						display: block;
						width: 10px;
						height: 10px;
						background: @main-color-1;
						border-radius: 20px;
						position: absolute;
    					left: -5px;
    					top: 14px;
					}
					.btn-nav {
						color: fade(@main-color-1, 100%);
					}
				}
			}
		}
		@media (min-width: @screen-md-max) {
		left: -100%;
		top: 15%;
		width: 200px;
		height: 100%;

			&.fixed {
	  			left: 0;
	  		}
		}
		.navbar-nav {
			.btn-nav {
				&.btn-border {
			    	border-color: fade(@dark-color, 70%);

			    	&:hover {
			    		border-color: fade(@dark-color, 100%);
			    	} 
			    }
			}
		}

}
@media (min-width: @screen-md-max) {
	.slicknav_menu {
		display: none;
	}
}
@media (max-width: @screen-md-max) {
	#navigation {
		display: none;
	}
	.slicknav_menu {
		display: block;
	}
}
.slicknav_menu {
	background: transparent;
	padding: 0;
    position: absolute;
    top: 34px;
    z-index: 200;
    right: 34px;
    font-size: 1.3em;

    a.slicknav_btn {
    	background: @main-color-1;
    	float: right;

    	.slicknav_icon-bar {
    		box-shadow: none;
    	}
    }

    ul.slicknav_nav {
    	
    	a {
    		padding: 0.5em 1em;
    		color: rgba(88, 88, 88, 0.9);
   			background-color: #FAFAFA;
   			margin: 0;
    		font-size: 0.9em;
    		border-radius: 0;
    		cursor: pointer;
    		&:hover {
    			color: @main-color-1;
    		}
    	}
    }
}
.div_popup_overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #333;
	opacity: .7;
	z-index: 3000;
}
iframe {
	max-width: 100%;
}
/**
 * ===============================
 * Header Style 1
 * ===============================
*/
.bg-image-1 {

	.background-image( @images-name: '../images/comlink-background-home-feature-panel.jpg', @repeat: no-repeat );
	background-attachment: fixed;

	.container {
		height: 100vh;
	}
}
.header-section-1 {
	.overlay-color {
		background-color: rgba(0, 0, 0, 0.5);
	}
	.logo-link {
		max-width: 50px;
		margin-bottom: 70px;
	}
	

	.section-separator {
	    position: relative;
	    top: 50%;
	    transform: translateY(-50%) !important;
	    padding: 0;
	}

	h1.title {
		margin: 0;
		color: @light-color;
		font-size: 3em;
	}
	h2.detail {
		margin: 0 0 1em 0;
		color: #b7b3b3;
	}

	.detail {
		margin-top: 40px;

		p {
			color: fade(@light-color, 70%);
			font-size: 18px;
			line-height: 30px;
		}
	}

	.btn-form {
		margin-top: 70px;
	}
}



/**
 * ====================================
 * Features Style 1
 * ====================================
 */

 .video-link {
    padding-top: 70px;
}
 
.video-link a:hover,
.video-link a:focus {
    outline: 0;
}
 
a .video-link-text {
    color: #fff;
    opacity: 0.8;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
 
a:hover .video-link-text, 
a:focus .video-link-text {
    outline: 0;
    color: #fff;
    opacity: 1;
    border-bottom: 1px dotted #fff;
}
 
a .video-link-icon {
    position: relative;
    display: inline-block;
    width: 95px;
    height: 95px;
    background: rgba(255, 255, 255, 0.9);
    color: @main-color-1;
    line-height: 95px;
    font-size: 3.5em;
    -moz-border-radius: 55px; -webkit-border-radius: 55px; border-radius: 55px;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
a .video-link-icon:after {
    // position: absolute;
    // content: "";
    // top: -6px;
    // left: -6px;
    // width: 66px;
    // height: 66px;
    // background: #444;
    // background: rgba(0, 0, 0, 0.1);
    // z-index: -99;
    // -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
}
 
a:hover .video-link-icon,
a:focus .video-link-icon {
    outline: 0;
    background: #fff;
    color: #333;
}
/***** Modal *****/
@media (min-width: 768px) {
	.modal-dialog {
	    width: 60%;
	}
}
.modal-backdrop.in {
    filter: alpha(opacity=7);
    opacity: 0.7;
}
 
.modal-content {
    background: none;
    border: 0;
    -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}
 
.modal-body {
    padding: 0 25px 25px 25px;
}
 
.modal-header {
    padding: 25px 25px 15px 25px;
    text-align: right;
}
 
.modal-header, .modal-footer {
    border: 0;
}
 
.modal-header .close {
    float: none;
    margin: 0;
    font-size: 36px;
    color: #fff;
    font-weight: 300;
    text-shadow: none;
    opacity: 1;
}
.features-section-1 {
	.features-icon {
		font-size: 60px;
	    display: block;
	    margin-bottom: 55px;
	}
	.image-container {
		z-index: 1;

		@media (max-width: @screen-md) {
			img {
				max-width: 100%;
			}
		}
		
	}
	.content {
		z-index: 2;
		position: relative;
	    text-align: left;
	    background: #fff;
	    padding: 40px;
	    top: 40px;
	    border-bottom: solid 4px #FAFAFA;
	}
	.title {
		margin-top: 0px;
	}

	.detail {
		margin-top: 24px;
	}

	.each-features {
		.inner {
			margin-bottom: 30px;
			padding: 70px 55px;
			.transition( 0.4s );

			&:hover {
				.box-shadow( 10px, 17.321px, 57px, 0px, fade(@shadow-color, 8%) );
			}
		}

		@media (min-width: @screen-md-max) {
			&:nth-last-child(-n + 3) {
				.inner {
					margin-bottom: 0px;
				}
			}
		}

		@media (min-width: @screen-xs-max) {
			&:nth-last-child(-n + 2) {
				.inner {
					margin-bottom: 0px;
				}
			}
		}

	}

}





/**
 * ====================================
 * Features Style 2 
 * ====================================
 */
.bg-image-2 {
	.background-image( @images-name: '../images/comlink-background-who-we-are.jpg', @repeat: no-repeat );

		background-position: top center;
	   // max-height: 545px;

	    @media (min-width: @screen-lg) {
	    	// max-height: 520px;
	    }
}
.features-section-2 {
	.container {
		height: 450px;
	}
	.section-separator {
		position: relative;
	    top: 50%;
	    transform: translateY(-50%) !important;
	    padding: 0;
	}
	.section-header {
		margin-bottom: 0px;
	}

	.overlay-color {
		background-color: rgba(0, 0, 0, 0.5);
	}
	
}

.btn-video {
	.btn {
		min-width: 0;
		width: 115px;
	}
}

.video iframe {
	max-width: 100%;
}


/**
 * ====================================
 * Features Style 3 
 * ====================================
 */
.features-section-3 {
	.testimonial-wrapper {
		.item {
			padding-top: 15px;

			.image-outer {
				display: inline-block;
				border: 5px solid;
				border-color: @background-1;
				.box-shadow( 10px, 17.321px, 57px, 0px, fade(@shadow-color, 10%) );
				.border-radius(50%, 50%, 50%, 50%);

				img {
					width: 150px;
					height: auto;
					.border-radius(50%, 50%, 50%, 50%);
				}
			}

			blockquote {
			    border: 0px solid;
			    margin: 40px 0 25px 0;
			    padding: 0;
			    font-size: 18px;
			    line-height: 30px;
			    font-weight: 400;
			    font-style: italic;
			    color: fade(@dark-color, 70%);
			}

			.name {
				margin-top: 40px;
			}

			.profile-outer {
				strong {
					font-weight: 400;
				}
			}
		}
	}
	
	.owl-controls {
		margin-top: 20px;

		.owl-pagination {
			.owl-page {
				span {
					width: 7px;
					height: 7px;
					.transition( 0.4s );
				}

				&.active {
					span {
						background-color: fade(@main-color-1, 100%);
					}
				}
			}
		}
	}
}




/**
 * ====================================
 * Features Style 4
 * ====================================
 */

.features-section-4 {
	
}

.pricing-table {
	.each-table {
		.inner {
			position: relative;
			padding: 30px;
			.transition(0.4s);

			.meta-price {
				font-family: @font-2;
				font-size: 70px;
				font-weight: 200;
				line-height: 70px;
				font-weight: 300;
				margin-bottom: 0px;
				margin-top: 25px;
				color: @dark-color;
				text-align: left;
			}

			.category {
			    position: absolute;
			    left: 30px;
			    right: 30px;
			    top: 30px;
			    text-align: right !important;
			    font-family: @font-2;
			    font-size: 48px;
			    line-height: 61px;
			    font-weight: 300;
			    letter-spacing: 2px;
			    text-transform: uppercase;
			    color: fade(@dark-color, 15%);
			}

			.nav {
				padding-left: 0px;
				margin-top: 40px;

				li {
				    font-size: 16px;
					line-height: 32px;
				    color: fade(@dark-color, 75%);
				    text-align: left;
				}
			}

			.btn-form {
				margin-top: 50px;

				.btn {
					width: 100%;
					min-width: 100px;

					&.normal {
						border-color: fade(@dark-color, 40%);
						
						&,
						.icon {
							color: fade(@dark-color, 50%);
							.transition( 0.4s );
						}

						&:hover {
							background-color: darken(@main-color-1, 15%);
							border-color: darken(@main-color-1, 15%);
							
							&,
							.icon {
								color: fade(@light-color, 100%);
							}
						}
					}
				}
			}

			&:hover {
				.box-shadow( 10px, 17.321px, 57px, 0px, fade(@shadow-color, 8%) );

				.btn-form {
					.btn {
						&.normal {
							border-color: @main-color-1;
							
							&,
							.icon {
								color: @main-color-1;
							}

							&:hover {
								background-color: darken(@main-color-1, 15%);
								border-color: darken(@main-color-1, 15%);
								
								&,
								.icon {
									color: fade(@light-color, 100%);
								}
							}
						}
					}
				}
			}
		}

	}
}




/**
 * ====================================
 * Features Style 5
 * ====================================
 */
.bg-image-3 {
	.background-image( @images-name: '../images/background-3.jpg', @repeat: no-repeat );
}
.features-section-5 {

	.section-header {
		margin-bottom: 18px;
	}

	.form-outer {
		padding: 70px;
		.box-shadow( 10px, 17.321px, 57px, 0px, fade(@shadow-color, 8%) );
	}
}




/**
 * ====================================
 * Features Style 6
 * ====================================
 */
.features-section-6 {

	.each-features {
		margin-bottom: 30px;

		@media (min-width: @screen-xs-max) {
			&:nth-last-child(-n + 4) {
				.inner {
					margin-bottom: 0px;
				}
			}
		}

		@media (max-width: @screen-xs-max) {
			&:nth-last-child(-n + 1) {
				.inner {
					margin-bottom: 0px;
				}
			}
		}

		img {
			width: 100%;
		}

		.position,
		.title {
			font-size: 15px;
			font-weight: 300;
			line-height: 30px;
		}

		.title {
			color: fade(@light-color, 85%);
			.transition( 0.4s );
			.transform-mix( @translateY: -30px );
		}

		.name {
			margin: 0;
		}

		.features-hover {
		    position: relative;
		}

		.detail {
		    padding: 25px 10px;
		}

		.mask {
		    position: absolute;
		    width: 100%;
		    height: 100%;
		    left: 0;
		    top: 0;
		    background-color: fade(@main-color-1, 85%);
		    opacity: 0;
		    .transition( 0.4s );

		    .mask-inner {
		    	position: absolute;
		    	left: 0;
		    	bottom: 25px;
		    	width: 100%;
		    }
		}

		.social-icon {
		    li {
		    	.transition( 0.3s );
				.transform-mix( @translateY: 60px );
				opacity: 0;

		    	&:nth-of-type(2) {
					.transition-delay( .1s );
		    	}

		    	&:nth-of-type(3) {
					.transition-delay( .2s );
		    	}

		    	&:nth-of-type(4) {
					.transition-delay( .3s );
		    	}

		    	&:nth-of-type(5) {
					.transition-delay( .4s );
		    	}
		    }
	    }	

		.inner {
			&:hover {
				.mask {
					opacity: 1;
				}

				.title {
					.transform-mix();
				}

				.social-icon {
					li {
						.transform-mix();
						opacity: 1;
					}
				}

				.position {
					color: @main-color-1;
				}
			}
		}
	}
}




/**
 * ====================================
 * Features Style 7
 * ====================================
 */
.features-section-7 {
	.section-heading {
		font-size: 35px;
		padding-bottom: 45px;
		color: @dark-color;
	}

	.inner {
		padding-right: 55px;
	}

	.detail {
		p {
			font-weight: 400;
			color: fade(@dark-color, 65%);
		}
	}
}




/**
 * ====================================
 * Features Style 8
 * ====================================
 */
.features-section-8 {

}

.project-item {
	.project-image {
	    position: absolute;
	    left: 15px;
	    right: 15px;
	    top: 0;
	    bottom: 0;
	    background-position: center;
	}

	.inner{
		padding-top: 100px;
		padding-bottom: 100px;
	}

	.section-heading {
		font-size: 35px;
		line-height: 50px;
		margin-bottom: 18px;
	}

	.btn-form {
		margin-top: 60px;
	}

	.each-project {
		.each-project-inner {
			margin-bottom: 90px;

			
		}

		&:last-child {
			.each-project-inner {
				margin-bottom: 0px;
			}
		}
	}
}

/**
 * ====================================
 * Charts  
 * ====================================
 */

.charts {
	padding: 3em 0;

	.chart-numbers {

		    border: solid 3px #ccc;
		    padding: 3em;
		    display: block;
		    width: 95%;
		    margin-top: 1em;

		    ul.numbers {
				list-style: none;
				padding: 0;
				margin: 0;
				
				li {
					padding: 0;
					margin: 0 0 0.3em 0;
					color: @main-color-1;
					font-weight: 600;
					font-size: 2em;
					span.numberlabel {
						color: rgba(88, 88, 88, 0.8);
						font-size: 0.6em;
						font-weight: normal;
					}
					&:nth-last-child(1) {
						margin-bottom: 0;
					}
				}
			}

			&.volunteers {
				padding: 4em;
				min-height: 150px;
				width: 90%;
			    background: @main-color-1;
			    margin: 0 auto;
			    border: none;

			    ul {
			    	li {
			    		font-size: 2.8em;
			    		color: white;
			    		span.numberlabel {
			    			color: white;
			    			font-size: .4em;
			    		}
			    	}
			    }
			}
	}
	
}
/**
 * ====================================
 * Map 
 * ====================================
 */

 .map-area {
 	position: relative;

 	#map-overlay-info {
 		position: absolute;
 		top: 2em;
 		right: 2em;
 		background: rgba(255,255,255,0.9);
 		padding: 1em;
 		font-weight: 500;
 		width: 340px;
 		box-shadow: 0 0 20px rgba(0,0,0,0.2);
 		text-align: left;

 		.icon {
 			float: left;
		    font-size: 40px;
		    padding-right: 20px;
		    padding-top: 7px;
 		}
 	}
 }


#map {
	text-align: left;
	h3 {
		margin: 0;
	}
	p {
		font-size: 1.1em;
	}
	strong {
		font-weight: normal;
	}
	span {
		font-weight: 600;
		float: right;
	}
	br {
		min-width: 250px;
		border-bottom: solid 1px #ccc;
	    display: block;
	    content: "";
	    padding: 1px 0;
	    margin-bottom: 2px;
	}
}

/**
 * ====================================
 * Footer Section 1
 * ====================================
 */
.footer-section {

	.section-separator {
		padding: 70px 0;
	}

	.copyright {
		p {
			color: fade(@light-color, 32%);
			font-size: 15px;
			font-weight: 400;
		}
	}

}
