/*------------------------------------------------------------------
[Table of contents]

[ DEFULT INDEX NUMBER ]
1. Defult css
    1.1. body / body
    1.2. a / a
    1.3. Overflow / .fix
    1.4. Video background / .section-video
    1.5. p / p
    1.6. h1 / h1, h2 / h2, h3 / h3, h4 / h4, h5 / h5, h6 / h6
    1.7. Gradient Text Color / .gradient-text
    1.8. Section Header / .section-header
    1.9. Section Separator / .section-separator
    1.10. Overlay Background / .overlay-color, .overlay-clor-full
    1.11. Button Defult Style / .btn
    1.12. Margin / .m-
    1.13. Padding / .p-
    1.14. Social Icon / .social-icon
    1.15. Message / .message
    1.16. Form Style / .single-form
    -- Before this comment ( START MAIN CSS STYLE ) defult css continue .

2. Navigation / .main-navbar-top
    2.1. Navbar icon style /.nav-trigger

3. Background Image 1 / .bg-1
4. Header style / .header-section-1

5. Features section 1 / .features-section-1
6. Background Image 2 / .bg-2
7. Features section 2 / .features-section-2
8. Features section 3 / .features-section-3
9. Background Image 3 / .bg-3
10. Features section 4 / .features-section-4
11. Background Image 4 / .bg-4
12. Features section 5 / .features-section-5

19. Footer / .footer-section-1
20. Popup Contact Form / .contact-form




-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[ Color codes ]
    
    [ Text and Background Color ]
        Main color 1:       #aa49de (purple)    [ Gradient color 1 ]
        Main color 2:       #4954de (blue)      [ Gradient color 2 ]
        Background 1:       #FFFFFF             [ Background color ]
        Light color:        #FFFFFF             [ Using text color and some ware ]
        Dark color-1:       #686868             [ Using text color and some ware ]
        Dark color-2:       #282828             [ Using text color and some ware ]
        Border color:       #000031;            [ Border Color ]
        Shadow color:       #000000;            [ All type of shadow color ]


[ This Templage Using 1 Coller Scheme ]

    [ Main color ]
        1. Color 1:         main-color-1: #aa49de; main-color-1: #4954de;
        2. Color 2:         main-color-1: #00C6FF; main-color-1: #0072FF;
        3. Color 3:         main-color-1: #FEAD27; main-color-1: #DE496C;

    [Background color ]
        2. Light:           #FFFFFF;
    
    [ Shadow color ]
        shadow-color:       rgba(0, 0, 0, 0.12);

    [ Overlay color]
        overlay-color:      rgba(0, 0, 0, 0.6);



[ Using Color Code ]
    h1 [ All ]      Color: #373737                      [ Gray ]
    h2 [ Light ]    Color: #373737                      [ Gray 100% opacity ]
    h3 [ Light ]    Color: #373737                      [ Gray 100% opacity ]
    p  [ Light ]    Color: rgba(55, 55, 55, 0.7)        [ Gray 70% opacity ]
    a  [ Normal ]   Color: main-color                   [ main-color is changed particular color scheme ]
    a  [ Hover ]    color: as required                  [ as required ]

-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Typography]

    [ There are using two different font typography ]
        Typography 1: Exo Font;
        Typography 2: Rayeway and Poppins font;
        Typography 3: Montserrat and Roboto font;
        Typography 4: Exo and Poppins font;
    
    [ Other Typography style are same ]
    Body :
        font-style:     normal;
        font-size:      15px;

    Header:
        font-style:     normal;
        font-size:      40px;

    h1:
        font-style:     normal;
        font-size:      40px;

    h2, h3, h4, h5, h6:
        font-style:     normal;

    Section Heading:
        font-style:     normal;
        font-size:      35px;

    p:  
        font-style:     normal;
        font-size:      15px;


    Notes:  This Template typography 1 Defult [ font-family: 'Exo', sans-serif; ] [ font-style: normal; ] [ font-size: 15px; ]
    Notes:  This Template typography 2 Defult [ font-family: 'Poppins', sans-serif; ] [ font-style: normal; ] [ font-size: 15px; ]
    Notes:  This Template typography 3 Defult [ font-family: 'Roboto', sans-serif; ] [ font-style: normal; ] [ font-size: 15px; ]
    Notes:  This Template typography 4 Defult [ font-family: 'Poppins', sans-serif; ] [ font-style: normal; ] [ font-size: 15px; ]

-------------------------------------------------------------------*/
/**
 * ===============================
 *  Defult CSS 
 * ===============================
 */
body {
  font-family: 'Poppins', sans-serif;
  color: rgba(88, 88, 88, 0.8);
  font-size: 16px;
  font-style: none;
  line-height: 25px;
  font-weight: 300;
  overflow-x: hidden !important;
  text-align: left;
  position: relative;
}
a {
  text-decoration: none !important;
  display: inline-block;
  cursor: pointer;
  font-family: 'Lato', sans-serif;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a:hover {
  color: #00b3ef;
}
a:focus {
  outline: 0 !important;
}
.fix {
  overflow: hidden;
}
.section-video {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
  z-index: -1;
}
.section-video .bgvid {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}
.body-video-bg > .section-video {
  position: fixed;
  top: 0;
  left: 0;
}
p {
  font-family: 'Poppins', sans-serif;
  color: rgba(88, 88, 88, 0.8);
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 25px;
  font-weight: 300;
}
p:last-child {
  margin-bottom: 0px;
}
/* Heading Style */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
  color: #585858;
}
h1 {
  font-size: 55px;
  line-height: 70px;
  font-weight: 300;
}
h2 {
  font-size: 40px;
  line-height: 55px;
  font-weight: 300;
}
h3 {
  font-size: 25px;
  line-height: 45px;
  font-weight: 400;
}
h4 {
  font-size: 22px;
  line-height: 40px;
  font-weight: 400;
}
h5 {
  font-size: 20px;
  line-height: 34px;
  font-weight: 400;
}
h6 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}
/**
 * ====================================
 *  Every Section Headline Defult Class
 * ====================================
 */
.section-heading {
  color: rgba(88, 88, 88, 0.95);
  display: inline-block;
  padding-bottom: 23px;
  margin: 0;
}
.section-header {
  margin-bottom: 70px;
  text-align: center;
}
.section-header .sub-heading {
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  color: rgba(88, 88, 88, 0.65);
  margin: 0;
}
.section-header.text-left,
.section-header.text-left * {
  text-align: left;
}
.section-header.text-right,
.section-header.text-right * {
  text-align: right;
}
.light-text h1,
.light-text h2,
.light-text h3,
.light-text h4,
.light-text h5,
.light-text h6,
.light-text .btn * {
  color: #ffffff;
}
.light-text p,
.light-text span,
.light-text .sub-heading {
  color: rgba(255, 255, 255, 0.7);
}
.vertical-middle {
  display: table-cell;
  float: none;
  vertical-align: middle;
}
/**
 * ===============================
 *  Section Top and Bottom padding  
 * ===============================
 */
.section-separator {
  display: block;
  padding-top: 145px;
  padding-bottom: 145px;
}
.section-separator.sp-top {
  padding-bottom: 0px;
}
.section-separator.sp-bottom {
  padding-top: 0px;
}
.section-separator-line {
  margin: 0;
  width: 100%;
  border-top: 1px solid;
  border-color: rgba(0, 0, 0, 0.12);
}
/**
 * ====================================
 * Background Overlay Color
 * ====================================
 */
.overlay-color {
  position: relative;
  background-color: rgba(0, 0, 0, 0.8);
}
/**
 * ====================================
 * Making Same Height Left & Right Part
 * ====================================
 */
.display-full {
  display: table !important;
  width: 100%;
}
.display-full .left,
.display-full .right {
  display: table-cell;
  float: none !important;
}
/**
 * ===============================
 *   Defult Button Style
 * ===============================
 */
.btn {
  border-radius: 50px 50px 50px 50px ;
  -webkit-border-radius: 50px 50px 50px 50px ;
  -moz-border-radius: 50px 50px 50px 50px ;
  -ms-border-radius: 50px 50px 50px 50px ;
  -o-border-radius: 50px 50px 50px 50px ;
  color: #FFFFFF;
  min-width: 200px;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
  margin-right: 15px;
  overflow: hidden;
  outline: 0;
  position: relative;
  z-index: 2;
  text-transform: uppercase;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.btn:last-child {
  margin-right: 0px !important;
}
.btn .icon {
  position: relative;
  top: 1px;
}
.btn.left-icon .icon {
  margin-right: 8px;
}
.btn.right-icon .icon {
  margin-left: 8px;
}
.btn.btn-fill,
.btn.btn-border {
  line-height: 58px;
  border: 1px solid;
  padding: 3px 30px;
}
.btn.btn-fill,
.btn.btn-border,
.btn.btn-fill .icon,
.btn.btn-border .icon,
.btn.btn-fill:hover,
.btn.btn-border:hover {
  color: #FFFFFF;
}
.btn.btn-fill:hover,
.btn.btn-border:hover {
  border-color: #007aa3;
  background-color: #007aa3;
}
.btn.btn-fill {
  background-color: #00b3ef;
  border-color: #00b3ef;
}
.btn.btn-border {
  background-color: transparent;
  border-color: #FFFFFF;
}
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: thin dotted;
  outline: 0px auto -webkit-focus-ring-color !important;
  outline-offset: -2px;
}
.btn-text-link {
  padding: 50px 0 0 0;
  text-align: center;
}
.btn-text-link a {
  color: #00b3ef;
  margin-left: 10px;
}
.m-t-30 {
  margin-top: 30px;
}
.m-r-30 {
  margin-right: 30px;
}
.m-b-30 {
  margin-bottom: 30px;
}
.m-l-30 {
  margin-left: 30px;
}
.m-t-40 {
  margin-top: 40px;
}
.m-r-40 {
  margin-right: 40px;
}
.m-b-40 {
  margin-bottom: 40px;
}
.m-l-40 {
  margin-left: 40px;
}
.m-t-50 {
  margin-top: 50px;
}
.m-r-50 {
  margin-right: 50px;
}
.m-b-50 {
  margin-bottom: 50px;
}
.m-l-50 {
  margin-left: 50px;
}
.p-t-30 {
  padding-top: 30px;
}
.p-r-30 {
  padding-right: 30px;
}
.p-b-30 {
  padding-bottom: 30px;
}
.p-l-30 {
  padding-left: 30px;
}
.p-t-40 {
  padding-top: 40px;
}
.p-r-40 {
  padding-right: 40px;
}
.p-b-40 {
  padding-bottom: 40px;
}
.p-l-40 {
  padding-left: 40px;
}
.p-t-50 {
  padding-top: 50px;
}
.p-r-50 {
  padding-right: 50px;
}
.p-b-50 {
  padding-bottom: 50px;
}
.p-l-50 {
  padding-left: 50px;
}
/** 
 * ======================
 * Social Icon Style
 * ======================
 */
.social-icon {
  margin-top: 15px;
  display: inline-block;
}
.social-icon li {
  list-style: none;
  float: left;
  margin-bottom: 0px;
}
.social-icon li a {
  font-size: 16px;
  text-align: center;
  width: 33px;
  height: 33px;
  padding: 2px;
  border-radius: 50%;
  margin-right: 15px;
  background-color: transparent;
  color: #ffffff;
  border: 2px solid;
  border-color: #ffffff;
}
.social-icon li a:hover,
.social-icon li a:focus {
  background-color: transparent;
  color: #FFFFFF;
  border-color: #FFFFFF;
}
.social-icon li:last-child a {
  margin-right: 0px;
}
/**
 * ===================================
 * Subscription and contact  "MESSAGE"
 * ===================================
 */
.message .inner {
  background-color: #FAFAFA;
}
.subscription-success,
.subscription-failed,
.email-success,
.email-failed,
.email-loading {
  font-size: 15px;
  display: none;
  text-align: center !important;
  padding: 10px !important;
}
.email-loading {
  color: #52B8FF;
}
.email-loading img {
  width: 15px;
  position: relative;
  top: -2px;
}
.subscription-failed,
.email-failed {
  color: #FF5252 !important;
}
.subscription-failed .icon,
.email-failed .icon {
  font-size: 20px;
  position: relative;
  top: 5px;
}
.subscription-success,
.email-success {
  color: #56CC35;
}
.subscription-failed .icon,
.email-failed .icon,
.subscription-success .icon,
.email-success .icon {
  font-size: 20px;
  position: relative;
  top: 5px;
}
/**
 * =========================
 * Form Style 
 * =========================
 */
.single-form {
  width: 100%;
  display: inline-table;
}
.single-form .form-control {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
  border: 0px solid;
  border-bottom: 1px solid;
  border-bottom-color: rgba(88, 88, 88, 0.9);
  -webkit-box-shadow: 0 0 0 0 #fff;
  box-shadow: 0 0 0 0 #fff;
  height: 55px;
  text-align: left;
  margin-bottom: 30px;
  padding: 0;
  background-color: transparent;
  color: #585858;
  border-radius: 0 0 0 0 ;
  -webkit-border-radius: 0 0 0 0 ;
  -moz-border-radius: 0 0 0 0 ;
  -ms-border-radius: 0 0 0 0 ;
  -o-border-radius: 0 0 0 0 ;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.single-form .form-control::-webkit-input-placeholder {
  color: rgba(88, 88, 88, 0.85) !important;
}
.single-form .form-control:-moz-placeholder {
  color: rgba(88, 88, 88, 0.85) !important;
}
.single-form .form-control::-moz-placeholder {
  color: rgba(88, 88, 88, 0.85) !important;
}
.single-form .form-control:-ms-input-placeholder {
  color: rgba(88, 88, 88, 0.85) !important;
}
.single-form .form-control:focus {
  border-color: #00b3ef;
}
.single-form textarea {
  height: 175px !important;
  padding: 10px 0 !important;
}
.single-form .select-outer {
  position: relative;
}
.single-form .select-outer::after {
  content: "";
  position: absolute;
  top: 19px;
  right: 15px;
  border-width: 7px 6px;
  border-style: solid;
  border-color: #ffffff transparent transparent;
}
.single-form select {
  -moz-appearance: none;
  -webkit-appearance: none;
}
.single-form .btn {
  margin-top: 10px;
}
.single-form .form-group {
  margin: 0px;
}
.single-form .p-right {
  padding-left: 0px;
}
.single-form .p-left {
  padding-right: 0px;
}
.single-form .m-right {
  margin-right: 0px;
}
.single-form .m-left {
  margin-left: 0px;
}
/**
 * ================================
 * CONTAINER HALF CONTENT
 * ================================
 */
.content-half {
  position: relative;
}
.container-half {
  position: absolute;
  vertical-align: middle;
  top: 0;
  bottom: 0;
  width: 50%;
}
.container-half.pr30 {
  width: calc(50% - 30px);
}
.cover {
  background-size: cover;
  background-repeat: no-repeat;
}
.container-half-left {
  left: 0;
  background-position: top left;
}
.container-half-right {
  right: 0;
  background-position: top right;
}
@media (max-width: 991px) {
  .container-half-left,
  .container-half-right {
    display: none;
  }
}
@media (max-width: 767px) {
  h1,
  h2 {
    font-size: 45px;
    line-height: 65px;
    font-weight: 300;
  }
  /**
     * ===============================
     *  Defult CSS 
     * ===============================
     */
  html *,
  body,
  p {
    text-align: center;
  }
  /**
     * ===============================
     *   Defult Button Style
     * ===============================
     */
  .btn.btn-fill,
  .btn.btn-border {
    padding: 3px 15px;
    min-width: 120px;
  }
  /**
     * ===============================
     *  Section Top and Bottom padding  
     * ===============================
     */
  .section-separator {
    display: block;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  /**
     * ===============================
     *  Section Heading Style
     * ===============================
     */
  .section-header.text-left,
  .section-header.text-right,
  .section-header.text-left *,
  .section-header.text-right * {
    text-align: center;
  }
  /**
     * ================================
     * Nav Defult Style
     * ================================
     */
  .nav {
    display: inline-block;
  }
  ul,
  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    display: inline-block;
  }
  /**
     * ===============================
     *   Defult Button Style
     * ===============================
     */
  .btn,
  .btn:last-child {
    margin: 10px !important;
  }
  /**
     * ===============================
     *   Display Vertical
     * ===============================
     */
  .vertical-middle {
    display: block;
  }
}
/****************************************************************
    START MAIN CSS STYLE
*****************************************************************/
.background-light {
  background-color: #FFFFFF;
}
.background-semi-dark {
  background-color: #FAFAFA;
}
.background-dark {
  background-color: #213344;
}
canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
/**
 * =======================
 * Navigation
 * =======================
 */
.main-navbar-top {
  position: absolute;
  width: 100%;
  border: 0px solid;
  top: 0px;
  padding-top: 25px;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: transparent;
  z-index: 100;
}
.main-navbar-top .okayNav-header {
  background-color: transparent;
}
.main-navbar-top .navbar-brand {
  display: block;
  height: 77px;
  padding: 0;
  margin-left: 0px;
}
.main-navbar-top .navbar-brand img {
  display: block;
}
.main-navbar-top .navbar-brand .logo-1 {
  display: block;
  padding-top: 1em;
}
.main-navbar-top .navbar-brand .logo-2 {
  padding-top: 0.6em;
  display: none;
}
.main-navbar-top .navbar-toggle {
  padding: 19px 15px;
}
.main-navbar-top .navbar-toggle .icon-bar {
  background-color: #00b3ef;
}
.main-navbar-top ul li .btn-nav {
  border-radius: 50px 50px 50px 50px ;
  -webkit-border-radius: 50px 50px 50px 50px ;
  -moz-border-radius: 50px 50px 50px 50px ;
  -ms-border-radius: 50px 50px 50px 50px ;
  -o-border-radius: 50px 50px 50px 50px ;
  padding: 15px 15px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-right: 2px;
  position: relative;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 1px solid;
  border-color: transparent;
}
.main-navbar-top ul li .btn-nav:focus {
  background-color: transparent !important;
}
.main-navbar-top ul li .btn-nav:hover {
  background-color: transparent;
  color: #ffffff;
}
.main-navbar-top ul li.active .btn-nav {
  color: #ffffff;
}
.main-navbar-top ul li:last-child a {
  margin-right: 0px;
}
.main-navbar-top .navbar-nav {
  padding-top: 5px;
}
.main-navbar-top .navbar-nav .btn-nav.btn-border {
  border-color: rgba(255, 255, 255, 0.6);
}
.main-navbar-top .navbar-nav .btn-nav.btn-border:hover {
  border-color: #ffffff;
}
.main-navbar-top .okayNav__menu-toggle span {
  background-color: #FFFFFF;
}
.main-navbar-top .okayNav__nav--invisible {
  top: 95px;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.main-navbar-top .okayNav__nav--invisible .btn-nav {
  color: rgba(88, 88, 88, 0.7);
  background-color: transparent;
}
.main-navbar-top .okayNav__nav--invisible .btn-nav:hover {
  color: #585858;
}
.main-navbar-top .okayNav__nav--invisible.active .btn-nav {
  color: #585858;
}
.main-navbar-top.navbar-home {
  padding-top: 0;
  background-color: #FFFFFF;
  box-shadow: 0 1px 12px 0px rgba(0, 0, 0, 0.1) ;
  -moz-box-shadow: 0 1px 12px 0px rgba(0, 0, 0, 0.1) ;
  -webkit-box-shadow: 0 1px 12px 0px rgba(0, 0, 0, 0.1) ;
  -o-box-shadow: 0 1px 12px 0px rgba(0, 0, 0, 0.1) ;
}
.main-navbar-top.navbar-home .okayNav__menu-toggle span {
  background-color: #585858;
}
.main-navbar-top.navbar-home .okayNav__nav--invisible {
  top: 70px;
}
.main-navbar-top.navbar-home .navbar-brand .logo-1 {
  display: none;
}
.main-navbar-top.navbar-home .navbar-brand .logo-2 {
  display: block;
}
#navigation {
  position: fixed;
  background: transparent;
  z-index: 999;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#navigation ul {
  border-left: solid 4px #00b3ef;
  list-style: none;
  padding: 0;
  margin: 0;
}
#navigation ul li {
  width: 100%;
  position: relative;
}
#navigation ul li .btn-nav {
  padding: 0.5em 1em;
  color: rgba(88, 88, 88, 0.9);
  background-color: #FAFAFA;
}
#navigation ul li .btn-nav:hover {
  color: #00b3ef;
}
#navigation ul li.active:before {
  content: " ";
  display: block;
  width: 10px;
  height: 10px;
  background: #00b3ef;
  border-radius: 20px;
  position: absolute;
  left: -5px;
  top: 14px;
}
#navigation ul li.active .btn-nav {
  color: #00b3ef;
}
@media (min-width: 1199px) {
  #navigation {
    left: -100%;
    top: 15%;
    width: 200px;
    height: 100%;
  }
  #navigation.fixed {
    left: 0;
  }
}
#navigation .navbar-nav .btn-nav.btn-border {
  border-color: rgba(88, 88, 88, 0.7);
}
#navigation .navbar-nav .btn-nav.btn-border:hover {
  border-color: #585858;
}
@media (min-width: 1199px) {
  .slicknav_menu {
    display: none;
  }
}
@media (max-width: 1199px) {
  #navigation {
    display: none;
  }
  .slicknav_menu {
    display: block;
  }
}
.slicknav_menu {
  background: transparent;
  padding: 0;
  position: absolute;
  top: 34px;
  z-index: 200;
  right: 34px;
  font-size: 1.3em;
}
.slicknav_menu a.slicknav_btn {
  background: #00b3ef;
  float: right;
}
.slicknav_menu a.slicknav_btn .slicknav_icon-bar {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.slicknav_menu ul.slicknav_nav a {
  padding: 0.5em 1em;
  color: rgba(88, 88, 88, 0.9);
  background-color: #FAFAFA;
  margin: 0;
  font-size: 0.9em;
  border-radius: 0;
  cursor: pointer;
}
.slicknav_menu ul.slicknav_nav a:hover {
  color: #00b3ef;
}
.div_popup_overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  opacity: .7;
  z-index: 3000;
}
iframe {
  max-width: 100%;
}
/**
 * ===============================
 * Header Style 1
 * ===============================
*/
.bg-image-1 {
  background: url('../images/comlink-background-home-feature-panel.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: initial;
  background-repeat: no-repeat;
  background-color: #fff;
  background-attachment: fixed;
}
.bg-image-1 .container {
  height: 100vh;
}
.header-section-1 .overlay-color {
  background-color: rgba(0, 0, 0, 0.5);
}
.header-section-1 .logo-link {
  max-width: 50px;
  margin-bottom: 70px;
}
.header-section-1 .section-separator {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%) !important;
  -ms-transform: translateY(-50%) !important;
  transform: translateY(-50%) !important;
  padding: 0;
}
.header-section-1 h1.title {
  margin: 0;
  color: #FFFFFF;
  font-size: 3em;
}
.header-section-1 h2.detail {
  margin: 0 0 1em 0;
  color: #b7b3b3;
}
.header-section-1 .detail {
  margin-top: 40px;
}
.header-section-1 .detail p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 18px;
  line-height: 30px;
}
.header-section-1 .btn-form {
  margin-top: 70px;
}
/**
 * ====================================
 * Features Style 1
 * ====================================
 */
.video-link {
  padding-top: 70px;
}
.video-link a:hover,
.video-link a:focus {
  outline: 0;
}
a .video-link-text {
  color: #fff;
  opacity: 0.8;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
}
a:hover .video-link-text,
a:focus .video-link-text {
  outline: 0;
  color: #fff;
  opacity: 1;
  border-bottom: 1px dotted #fff;
}
a .video-link-icon {
  position: relative;
  display: inline-block;
  width: 95px;
  height: 95px;
  background: rgba(255, 255, 255, 0.9);
  color: #00b3ef;
  line-height: 95px;
  font-size: 3.5em;
  -moz-border-radius: 55px;
  -webkit-border-radius: 55px;
  border-radius: 55px;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
}
a:hover .video-link-icon,
a:focus .video-link-icon {
  outline: 0;
  background: #fff;
  color: #333;
}
/***** Modal *****/
@media (min-width: 768px) {
  .modal-dialog {
    width: 60%;
  }
}
.modal-backdrop.in {
  filter: alpha(opacity=7);
  opacity: 0.7;
}
.modal-content {
  background: none;
  border: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.modal-body {
  padding: 0 25px 25px 25px;
}
.modal-header {
  padding: 25px 25px 15px 25px;
  text-align: right;
}
.modal-header,
.modal-footer {
  border: 0;
}
.modal-header .close {
  float: none;
  margin: 0;
  font-size: 36px;
  color: #fff;
  font-weight: 300;
  text-shadow: none;
  opacity: 1;
}
.features-section-1 .features-icon {
  font-size: 60px;
  display: block;
  margin-bottom: 55px;
}
.features-section-1 .image-container {
  z-index: 1;
}
@media (max-width: 992px) {
  .features-section-1 .image-container img {
    max-width: 100%;
  }
}
.features-section-1 .content {
  z-index: 2;
  position: relative;
  text-align: left;
  background: #fff;
  padding: 40px;
  top: 40px;
  border-bottom: solid 4px #FAFAFA;
}
.features-section-1 .title {
  margin-top: 0px;
}
.features-section-1 .detail {
  margin-top: 24px;
}
.features-section-1 .each-features .inner {
  margin-bottom: 30px;
  padding: 70px 55px;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.features-section-1 .each-features .inner:hover {
  box-shadow: 10px 17.321px 57px 0px rgba(0, 0, 0, 0.08) ;
  -moz-box-shadow: 10px 17.321px 57px 0px rgba(0, 0, 0, 0.08) ;
  -webkit-box-shadow: 10px 17.321px 57px 0px rgba(0, 0, 0, 0.08) ;
  -o-box-shadow: 10px 17.321px 57px 0px rgba(0, 0, 0, 0.08) ;
}
@media (min-width: 1199px) {
  .features-section-1 .each-features:nth-last-child(-n + 3) .inner {
    margin-bottom: 0px;
  }
}
@media (min-width: 767px) {
  .features-section-1 .each-features:nth-last-child(-n + 2) .inner {
    margin-bottom: 0px;
  }
}
/**
 * ====================================
 * Features Style 2 
 * ====================================
 */
.bg-image-2 {
  background: url('../images/comlink-background-who-we-are.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: initial;
  background-repeat: no-repeat;
  background-color: #fff;
  background-position: top center;
}
@media (min-width: 1200px) {
}
.features-section-2 .container {
  height: 450px;
}
.features-section-2 .section-separator {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%) !important;
  -ms-transform: translateY(-50%) !important;
  transform: translateY(-50%) !important;
  padding: 0;
}
.features-section-2 .section-header {
  margin-bottom: 0px;
}
.features-section-2 .overlay-color {
  background-color: rgba(0, 0, 0, 0.5);
}
.btn-video .btn {
  min-width: 0;
  width: 115px;
}
.video iframe {
  max-width: 100%;
}
/**
 * ====================================
 * Features Style 3 
 * ====================================
 */
.features-section-3 .testimonial-wrapper .item {
  padding-top: 15px;
}
.features-section-3 .testimonial-wrapper .item .image-outer {
  display: inline-block;
  border: 5px solid;
  border-color: #FFFFFF;
  box-shadow: 10px 17.321px 57px 0px rgba(0, 0, 0, 0.1) ;
  -moz-box-shadow: 10px 17.321px 57px 0px rgba(0, 0, 0, 0.1) ;
  -webkit-box-shadow: 10px 17.321px 57px 0px rgba(0, 0, 0, 0.1) ;
  -o-box-shadow: 10px 17.321px 57px 0px rgba(0, 0, 0, 0.1) ;
  border-radius: 50% 50% 50% 50% ;
  -webkit-border-radius: 50% 50% 50% 50% ;
  -moz-border-radius: 50% 50% 50% 50% ;
  -ms-border-radius: 50% 50% 50% 50% ;
  -o-border-radius: 50% 50% 50% 50% ;
}
.features-section-3 .testimonial-wrapper .item .image-outer img {
  width: 150px;
  height: auto;
  border-radius: 50% 50% 50% 50% ;
  -webkit-border-radius: 50% 50% 50% 50% ;
  -moz-border-radius: 50% 50% 50% 50% ;
  -ms-border-radius: 50% 50% 50% 50% ;
  -o-border-radius: 50% 50% 50% 50% ;
}
.features-section-3 .testimonial-wrapper .item blockquote {
  border: 0px solid;
  margin: 40px 0 25px 0;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  font-style: italic;
  color: rgba(88, 88, 88, 0.7);
}
.features-section-3 .testimonial-wrapper .item .name {
  margin-top: 40px;
}
.features-section-3 .testimonial-wrapper .item .profile-outer strong {
  font-weight: 400;
}
.features-section-3 .owl-controls {
  margin-top: 20px;
}
.features-section-3 .owl-controls .owl-pagination .owl-page span {
  width: 7px;
  height: 7px;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.features-section-3 .owl-controls .owl-pagination .owl-page.active span {
  background-color: #00b3ef;
}
/**
 * ====================================
 * Features Style 4
 * ====================================
 */
.pricing-table .each-table .inner {
  position: relative;
  padding: 30px;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.pricing-table .each-table .inner .meta-price {
  font-family: 'Lato', sans-serif;
  font-size: 70px;
  font-weight: 200;
  line-height: 70px;
  font-weight: 300;
  margin-bottom: 0px;
  margin-top: 25px;
  color: #585858;
  text-align: left;
}
.pricing-table .each-table .inner .category {
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  text-align: right !important;
  font-family: 'Lato', sans-serif;
  font-size: 48px;
  line-height: 61px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgba(88, 88, 88, 0.15);
}
.pricing-table .each-table .inner .nav {
  padding-left: 0px;
  margin-top: 40px;
}
.pricing-table .each-table .inner .nav li {
  font-size: 16px;
  line-height: 32px;
  color: rgba(88, 88, 88, 0.75);
  text-align: left;
}
.pricing-table .each-table .inner .btn-form {
  margin-top: 50px;
}
.pricing-table .each-table .inner .btn-form .btn {
  width: 100%;
  min-width: 100px;
}
.pricing-table .each-table .inner .btn-form .btn.normal {
  border-color: rgba(88, 88, 88, 0.4);
}
.pricing-table .each-table .inner .btn-form .btn.normal,
.pricing-table .each-table .inner .btn-form .btn.normal .icon {
  color: rgba(88, 88, 88, 0.5);
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.pricing-table .each-table .inner .btn-form .btn.normal:hover {
  background-color: #007aa3;
  border-color: #007aa3;
}
.pricing-table .each-table .inner .btn-form .btn.normal:hover,
.pricing-table .each-table .inner .btn-form .btn.normal:hover .icon {
  color: #ffffff;
}
.pricing-table .each-table .inner:hover {
  box-shadow: 10px 17.321px 57px 0px rgba(0, 0, 0, 0.08) ;
  -moz-box-shadow: 10px 17.321px 57px 0px rgba(0, 0, 0, 0.08) ;
  -webkit-box-shadow: 10px 17.321px 57px 0px rgba(0, 0, 0, 0.08) ;
  -o-box-shadow: 10px 17.321px 57px 0px rgba(0, 0, 0, 0.08) ;
}
.pricing-table .each-table .inner:hover .btn-form .btn.normal {
  border-color: #00b3ef;
}
.pricing-table .each-table .inner:hover .btn-form .btn.normal,
.pricing-table .each-table .inner:hover .btn-form .btn.normal .icon {
  color: #00b3ef;
}
.pricing-table .each-table .inner:hover .btn-form .btn.normal:hover {
  background-color: #007aa3;
  border-color: #007aa3;
}
.pricing-table .each-table .inner:hover .btn-form .btn.normal:hover,
.pricing-table .each-table .inner:hover .btn-form .btn.normal:hover .icon {
  color: #ffffff;
}
/**
 * ====================================
 * Features Style 5
 * ====================================
 */
.bg-image-3 {
  background: url('../images/background-3.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: initial;
  background-repeat: no-repeat;
  background-color: #fff;
}
.features-section-5 .section-header {
  margin-bottom: 18px;
}
.features-section-5 .form-outer {
  padding: 70px;
  box-shadow: 10px 17.321px 57px 0px rgba(0, 0, 0, 0.08) ;
  -moz-box-shadow: 10px 17.321px 57px 0px rgba(0, 0, 0, 0.08) ;
  -webkit-box-shadow: 10px 17.321px 57px 0px rgba(0, 0, 0, 0.08) ;
  -o-box-shadow: 10px 17.321px 57px 0px rgba(0, 0, 0, 0.08) ;
}
/**
 * ====================================
 * Features Style 6
 * ====================================
 */
.features-section-6 .each-features {
  margin-bottom: 30px;
}
@media (min-width: 767px) {
  .features-section-6 .each-features:nth-last-child(-n + 4) .inner {
    margin-bottom: 0px;
  }
}
@media (max-width: 767px) {
  .features-section-6 .each-features:nth-last-child(-n + 1) .inner {
    margin-bottom: 0px;
  }
}
.features-section-6 .each-features img {
  width: 100%;
}
.features-section-6 .each-features .position,
.features-section-6 .each-features .title {
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
}
.features-section-6 .each-features .title {
  color: rgba(255, 255, 255, 0.85);
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translateX(0) translateY(-30px) translateZ(0) rotate(0deg) scale(1);
  -o-transform: translateX(0) translateY(-30px) translateZ(0) rotate(0deg) scale(1);
  -ms-transform: translateX(0) translateY(-30px) translateZ(0) rotate(0deg) scale(1);
  -moz-transform: translateX(0) translateY(-30px) translateZ(0) rotate(0deg) scale(1);
  -webkit-transform: translateX(0) translateY(-30px) translateZ(0) rotate(0deg) scale(1);
}
.features-section-6 .each-features .name {
  margin: 0;
}
.features-section-6 .each-features .features-hover {
  position: relative;
}
.features-section-6 .each-features .detail {
  padding: 25px 10px;
}
.features-section-6 .each-features .mask {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 179, 239, 0.85);
  opacity: 0;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.features-section-6 .each-features .mask .mask-inner {
  position: absolute;
  left: 0;
  bottom: 25px;
  width: 100%;
}
.features-section-6 .each-features .social-icon li {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translateX(0) translateY(60px) translateZ(0) rotate(0deg) scale(1);
  -o-transform: translateX(0) translateY(60px) translateZ(0) rotate(0deg) scale(1);
  -ms-transform: translateX(0) translateY(60px) translateZ(0) rotate(0deg) scale(1);
  -moz-transform: translateX(0) translateY(60px) translateZ(0) rotate(0deg) scale(1);
  -webkit-transform: translateX(0) translateY(60px) translateZ(0) rotate(0deg) scale(1);
  opacity: 0;
}
.features-section-6 .each-features .social-icon li:nth-of-type(2) {
  -webkit-transition-delay: 0.1s ;
  -moz-transition-delay: 0.1s ;
  -o-transition-delay: 0.1s ;
  transition-delay: 0.1s ;
}
.features-section-6 .each-features .social-icon li:nth-of-type(3) {
  -webkit-transition-delay: 0.2s ;
  -moz-transition-delay: 0.2s ;
  -o-transition-delay: 0.2s ;
  transition-delay: 0.2s ;
}
.features-section-6 .each-features .social-icon li:nth-of-type(4) {
  -webkit-transition-delay: 0.3s ;
  -moz-transition-delay: 0.3s ;
  -o-transition-delay: 0.3s ;
  transition-delay: 0.3s ;
}
.features-section-6 .each-features .social-icon li:nth-of-type(5) {
  -webkit-transition-delay: 0.4s ;
  -moz-transition-delay: 0.4s ;
  -o-transition-delay: 0.4s ;
  transition-delay: 0.4s ;
}
.features-section-6 .each-features .inner:hover .mask {
  opacity: 1;
}
.features-section-6 .each-features .inner:hover .title {
  transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -o-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -ms-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -moz-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -webkit-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
}
.features-section-6 .each-features .inner:hover .social-icon li {
  transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -o-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -ms-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -moz-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  -webkit-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
  opacity: 1;
}
.features-section-6 .each-features .inner:hover .position {
  color: #00b3ef;
}
/**
 * ====================================
 * Features Style 7
 * ====================================
 */
.features-section-7 .section-heading {
  font-size: 35px;
  padding-bottom: 45px;
  color: #585858;
}
.features-section-7 .inner {
  padding-right: 55px;
}
.features-section-7 .detail p {
  font-weight: 400;
  color: rgba(88, 88, 88, 0.65);
}
/**
 * ====================================
 * Features Style 8
 * ====================================
 */
.project-item .project-image {
  position: absolute;
  left: 15px;
  right: 15px;
  top: 0;
  bottom: 0;
  background-position: center;
}
.project-item .inner {
  padding-top: 100px;
  padding-bottom: 100px;
}
.project-item .section-heading {
  font-size: 35px;
  line-height: 50px;
  margin-bottom: 18px;
}
.project-item .btn-form {
  margin-top: 60px;
}
.project-item .each-project .each-project-inner {
  margin-bottom: 90px;
}
.project-item .each-project:last-child .each-project-inner {
  margin-bottom: 0px;
}
/**
 * ====================================
 * Charts  
 * ====================================
 */
.charts {
  padding: 3em 0;
}
.charts .chart-numbers {
  border: solid 3px #ccc;
  padding: 3em;
  display: block;
  width: 95%;
  margin-top: 1em;
}
.charts .chart-numbers ul.numbers {
  list-style: none;
  padding: 0;
  margin: 0;
}
.charts .chart-numbers ul.numbers li {
  padding: 0;
  margin: 0 0 0.3em 0;
  color: #00b3ef;
  font-weight: 600;
  font-size: 2em;
}
.charts .chart-numbers ul.numbers li span.numberlabel {
  color: rgba(88, 88, 88, 0.8);
  font-size: 0.6em;
  font-weight: normal;
}
.charts .chart-numbers ul.numbers li:nth-last-child(1) {
  margin-bottom: 0;
}
.charts .chart-numbers.volunteers {
  padding: 4em;
  min-height: 150px;
  width: 90%;
  background: #00b3ef;
  margin: 0 auto;
  border: none;
}
.charts .chart-numbers.volunteers ul li {
  font-size: 2.8em;
  color: white;
}
.charts .chart-numbers.volunteers ul li span.numberlabel {
  color: white;
  font-size: .4em;
}
/**
 * ====================================
 * Map 
 * ====================================
 */
.map-area {
  position: relative;
}
.map-area #map-overlay-info {
  position: absolute;
  top: 2em;
  right: 2em;
  background: rgba(255, 255, 255, 0.9);
  padding: 1em;
  font-weight: 500;
  width: 340px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  text-align: left;
}
.map-area #map-overlay-info .icon {
  float: left;
  font-size: 40px;
  padding-right: 20px;
  padding-top: 7px;
}
#map {
  text-align: left;
}
#map h3 {
  margin: 0;
}
#map p {
  font-size: 1.1em;
}
#map strong {
  font-weight: normal;
}
#map span {
  font-weight: 600;
  float: right;
}
#map br {
  min-width: 250px;
  border-bottom: solid 1px #ccc;
  display: block;
  content: "";
  padding: 1px 0;
  margin-bottom: 2px;
}
/**
 * ====================================
 * Footer Section 1
 * ====================================
 */
.footer-section .section-separator {
  padding: 70px 0;
}
.footer-section .copyright p {
  color: rgba(255, 255, 255, 0.32);
  font-size: 15px;
  font-weight: 400;
}
