

/*------ real time page charts ------*/
#users-device-doughnut-chart,
#users-medium-pie-chart,
#users-category-pie-chart,
#page-views-per-second-column-chart,
#page-views-per-minute-column-chart,
#users-state-bar-chart {
  height: 300px;
}
/*------ /real time page charts ------*/

/*------ overview page charts ------*/
#revenue-spline-area-chart,
#annual-revenue-by-category-pie-chart,
#monthly-revenue-by-category-column-chart {
	height: 300px;
}

#visitors-chart,
#users-spline-chart {
	height: 320px;
}
/*------ /overview page charts ------*/

.card {
	background-color: inherit;
	border: none;
}

.card-title {
	border-bottom: 1px solid;
	padding-bottom: 10px;
	font-size: 	26px;
	font-weight: 300;
}

#revenue-tag, .custom-tag {
	background-color: #00b3ef;
	border-radius: 0;
  color: #fff;
	font-weight: 400;
  font-style: 0.9em;
  padding: 0 0.4em;
	vertical-align: top;
}

.custom-tag {
	font-size: 100%;
}

#visitors-chart-back-button {
	padding: 0.3rem 0.6rem;
}

#visitors-chart-tag {
	position: absolute;
}